<div class="row">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas baseChart #baseChart="base-chart" width="450" height="200"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [legend]="lineChartLegend"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>