<div class="row bot-buffer">
    <div class="col-md-6 offset-md-3">
        <h5 class="white-text">the best time for cup of coffee</h5>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-2">
        <img class="indicator" [src]="indicators[0].status ? '../../assets/img/im1_d.png' : '../../assets/img/im1.png'">
    </div>
    <div class="col-md-2">
        <img class="indicator" [src]="indicators[1].status ? '../../assets/img/im2_d.png' : '../../assets/img/im2.png'">
    </div>
    <div class="col-md-2">
        <img class="indicator" [src]="indicators[2].status ? '../../assets/img/im3_d.png' : '../../assets/img/im3.png'">
    </div>
</div>