<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="node_modules/chart.js/src/chart.js"></script>
<body class="bg">
<div class="container-fluid container-full">
    <div class="row row-full">
        <div class="col-md-1 col-sm offset-md-2">
            <img src="../assets/img/logo.png" class="logo">
        </div>
        <div class="col-md-4 offset-md-1 text">
            <h5 class="white-text">Your time is valuable and you know it. Don't waste it on the coffee-machine walk but
                cast The Coffee to get Product Over Time</h5>
        </div>
        <div class="col" class="settings">
            <app-vk></app-vk>
        </div>
        <div class="col" class="settings">
            <app-settings></app-settings>
        </div>
    </div>
    <div class="row justify-content-center top-buffer">

        <div class="col-md-8">
            <app-predictor></app-predictor>
        </div>
        <div class="col">
            <div class="pot">
                <app-pot></app-pot>
            </div>
        </div>
    </div>

    <!--<div class="row top-buffer">-->
    <!--<div class="col-md-1">-->
    <!--<app-chart></app-chart>-->
    <!--</div>-->
</div>
</body>
