<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="node_modules/chart.js/src/chart.js"></script>
<body class="bg">
<div class="container-fluid container-full">
    <div class="row row-full">
        <div class="col-md-10 col-sm offset-md-1">
            <img src="../assets/img/logo.png" class="logo">
        </div>
        <div class="col-md-10 col-sm offset-md-3" class="settings">
            <app-settings></app-settings>
        </div>
    </div>
    <div class="row justify-content-center top-buffer">
        <!--<div class="col">-->
            <!--<app-pot></app-pot>-->
        <!--</div>-->

        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h5>the best time for cup of coffee</h5>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2"><img src="../assets/img/bl.png" class="buta"></div>
                <div class="col-md-2"><img src="../assets/img/bl.png" class="buta"></div>
                <div class="col-md-2"><img src="../assets/img/bl.png" class="buta"></div>
            </div>
        </div>
        <div class="col">
            <div class="pot">
                <app-pot></app-pot>
            </div>
        </div>
    </div>
    <!--<div class="row justify-content-center top-buffer">-->
        <!--<div class="col">-->
            <!--<app-vk></app-vk>-->
        <!--</div>-->
    <!--</div>-->
</div>
<!--<div class="container">-->
<!--<div class="row justify-content-md-center">-->
<!--<div class="col col-lg-3">-->
<!--<app-pot></app-pot>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row justify-content-md-center">-->
<!--<div class="col col-lg 3">-->
<!--<app-chart></app-chart>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
</body>
